body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: rgb(0, 0, 0);
  }

  .open-button{
  font-size:30px;
  cursor:pointer; 
  position: fixed; 
  top: 0px; 
  z-index: 980;  
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); 
  background-color: rgb(78, 155, 179); 
  width: 3%;
   
  text-align: center; 
  color: rgb(255, 255, 255); 
  min-width: 23px; 
  min-height: 40px;
  }

  .open-button:hover{
  opacity: 0.3;
  }

  .bgimg-1{
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }

  .bgimg-1 {
    background-image: url("assets/security.jpeg");
    
    height: 100%;
  }

   .image-text{
    margin: 0;
    font-size: 400%; 
    color: #6236ff;
    text-align: center;
   }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: rgb(17, 17, 17);
  }

  .header-sub-title {
    color: rgb(73, 131, 121);
    font-family: "Courier";
    font-size: 2vw;
    padding: 0.1em;
  }
  .blink {
    animation: blink 0.5s infinite;
  }
  @keyframes blink{
    to { opacity: .0; }
  }

  .section {
    width: 100%;
    display: table;
    margin: 0;
    max-width: none;
    height: 100%;
  }
  .section-title{
    margin-left: 6%;
    color: rgb(73, 131, 121);
    margin-top: 5%;
    margin-bottom: 5%;
  }
.navigation-bar-item{
  display: block;
  width: 100%;
  padding: 8px 16px;
  color: gray;
  border-bottom: dashed;
}
.navigation-bar-item:hover{
  text-decoration: none;
  color: rgb(78, 155, 179);
}
.paragraph{
  margin-left: 6%;
  margin-right: 6%;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
} 

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  top: 50%;
  left: 50%;
  width: 40%;
  margin-right: -50%;
  transform: translate(-50%, -50%) ;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  background-color: transparent;
}

/* Modal Content */
.modal-content {
  width: 100%;
  height: 70%;
  background-color: #f1f8f3;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-right: 2%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 2%;
  color: white;
  background-color: yellowgreen;
}

/* Popup box BEGIN */
.hover_bkgr_fricc{
  background:rgba(0,0,0,.4);
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
  z-index:10000;
}
.hover_bkgr_fricc .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.hover_bkgr_fricc > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}
.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.popupCloseButton:hover {
  background-color: #ccc;
}
.trigger_popup_fricc {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
}
/* Popup box BEGIN */


.ticker {
  overflow: hidden;
  width: 100%;
  padding: 5px 0 120px;
  position: fixed;
  bottom: -50px;
  left: 0;
  font-family: "Montserrat", Arial;
}

.ticker-logo-channel {
  position: absolute;
  top: -20px;
  left: 20px;
  color: #ffffff;
  font-size: 160px;
  font-weight: bold;
  font-style: italic;
}

.ticker-logo {
  position: absolute;
  top: 40px;
  left: 30px;
  z-index: 10;
}

.ticker-logo:before {
  display: table;
  content: "";
  width: 260px;
  height: 91px;
  position: absolute;
  top: 2px;
  left: -50px;
  background: linear-gradient(to right, #3bd3e0 0%, #3bd3e0 84%, #3bd3e0 91%, rgba(59, 211, 224, 0.5) 96%, rgba(59, 211, 224, 0) 100%);
  /* W3C */
}

.ticker-tip {
  width: 100%;
  padding: 6px 0;
  margin-left: 200px;
  box-shadow: inset 0 -3px 3px rgba(255, 255, 255, 0.5);
  background-color: #1b87a4;
  color: #ffffff;
  transform: skew(-45deg, 0);
}

.ticker-tip-info {
  margin-left: 50px;
  position: relative;
  transform: skew(45deg, 0);
}

.icon-info {
  display: block;
  padding: 0px 10px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: -6px;
  left: -45px;
  background-color: #29a1e0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.ticker-title {
  width: 2500px;
  margin-top: 5px;
  padding-bottom: 5px;
  color: #065b70;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 0 0 2px #065b70;
  background: linear-gradient(135deg, #4affff 0%, #3ad0dd 11%, #2699b5 24%, rgba(29, 127, 162, 0.93) 30%, rgba(29, 127, 162, 0.5) 68%);
  /* W3C */
}

.ticker-title > * {
  display: inline-block;
  margin-right: 50px;
  -webkit-animation: title 6s infinite linear;
          animation: title 6s infinite linear;
}

@-webkit-keyframes title {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-233px);
  }
}

@keyframes title {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-233px);
  }
}
.ticker-news {
  width: 7000px;
  padding: 10px 0;
  color: #ffffff;
  font-size: 36px;
  text-transform: uppercase;
  text-shadow: 0 0 5px black;
  background: linear-gradient(135deg, #4affff 0%, #1d7fa2 11%, rgba(29, 127, 162, 0.5) 29%);
  /* W3C */
}

.ticker-news > * {
  display: inline-block;
  -webkit-animation: news 20s infinite linear;
          animation: news 20s infinite linear;
}

@-webkit-keyframes news {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-4135px);
  }
}

@keyframes news {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-4135px);
  }
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

.popup-content {
  color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.our-goals::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.our-goals {
  overflow-y: auto;
  -ms-overflow-style: none;
}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #222222;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: rgb(78, 155, 179);
  opacity: 0.7;
  display: block;
}

.sidenav a:hover {
  color: #fcff36;
  opacity: 0.6;
  text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
	color: white;
}
